.SideBarDesign {
  background-color: fffff;
  border-color: #66afe9;
  outline: 0;
  box-shadow: 0px 0px 50px rgba(15, 59, 252, 0.5);
  width: 200px;
  height: 100vh; /* Changed height to viewport height */
  display: flex;
  flex-direction: column; /* Adjusted to column layout */
  align-items: center; /* Center horizontally */
  top: 150px;
  overflow-y: auto; /* Added to enable vertical scrolling */
}

.form-label{
  padding: 0px 8px;
}

.BarText {
  padding: 8px 0px;
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
.BarTextA {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-menu-items{
    margin-right: 50px;
}

.BarItems {
  width: 100%;
}
.ImageContainer {
  display: flex;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}